/* PARAMETRES GENERAUX DE POLICE */

@font-face {
  font-family: "Raleway";
  src: url(static/Raleway-Italic-VariableFont_wght.ttf);
  src: url(static/Raleway-VariableFont_wght.ttf);
}

body {
  font-family: "Raleway", sans-serif;
  margin: auto;
  box-sizing: border-box;
}

/* Rendre les images responsive */
img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px; /* Retire les marges des titres */
}

.fas {
  color: #0065fc;
}

.blue {
  color: #0065fc;
}

.grey {
  color: #f2f2f2;
}

.popular-container,
.footer {
  background: #f2f2f2;
}

a {
  font-family: "Raleway";
  font-weight: bold;
}

p {
  font-family: "Raleway";
}

/* PARAMETRES DE LA PAGE */
.container {
  width: 96%;
  margin: auto;
}

.titresection {
  padding: 0 30px;
}
/* PARAMETRES DU HEADER */

.topheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Mise en forme des filtres*/

.titrefiltres {
  font-size: 1.3em;
  margin: 0 20px 0 0;
}

.titre {
  font-family: "Raleway", "Sans serif";
  font-weight: bold;
  padding-right: 1.5em;
  padding-left: 0.5em;
  cursor: pointer;
}

.barreFiltre:hover {
  background: #0065fc;
  color: #fff;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.barreFiltre {
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 2em;
  border: 2px solid #d9d9d9;
  border-radius: 2em;
  font-weight: bold;
}

.filtres {
  display: flex;
  align-items: center;
}

.imagefiltre {
  padding: 15px 15px;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
}

.fa-map-marker-alt {
  color: black;
}

.search span {
  color: #ffffff;
}

.search i {
  display: none;
  visibility: hidden;
}

.boutonfiltre p {
  font-weight: bold;
  font-size: 15px;
}

.filtres {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.filtres,
.filtres .content {
  display: flex;
  flex-flow: row wrap;
}

.filtres .title {
  margin-bottom: 20px;
  padding-top: inherit;
  padding-right: 20px;
}

.filtres .boutonfiltre {
  display: flex;
  justify-content: space-between;
  border-radius: 200px;
  border: 2px #f2f2f2 solid;
  height: 50px;
  position: relative;
  padding-left: 55px;
  padding-right: 14px;
  margin-right: 20px;
  margin-bottom: 10px;
  transition: transform 0.2s;
  cursor: pointer;
}

.filtres .boutonfiltre:hover {
  transform: scale(1.05);
}

.filtres .boutonfiltre:first-child {
  margin-left: 0;
}

.filtres .boutonfiltre:last-child {
  margin-right: 0;
}

.filtres .boutonfiltre i {
  line-height: 50px;
  color: #0065fc;
  position: absolute;
  width: 50px;
  text-align: center;
  background: #deebff;
  left: -2px;
  border-radius: 100%;
}

.boutonfiltre p {
  margin: auto;
}

/* la ligne information */

.info {
  display: flex;
}

.fa-info {
  text-align: center;
  color: #0065fc;
  border-radius: 100%;
  height: 33px;
  width: 33px;
  border: solid 1px #d9d9d9;
  padding: 7px;
  box-sizing: border-box;
}

.infotext {
  padding-left: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 33px;
}

nav .menu {
  padding-right: 0px;
}

.subscribe a {
  color: var(--main-color);
}

.subscribe a:hover {
  border-top: none;
}

.containerheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headernav {
  display: flex;
  margin-right: 3%;
}

.Logohaut {
  cursor: pointer;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  color: #0065fc;
}

header ul li a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 21px;
  color: #0065fc;
}

header ul li {
  margin-left: 28px;
}

a {
  text-decoration: none;
  color: black;
}

.inscrire a {
  color: #0065fc;
  margin-right: 0%;
}

.inscrire a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 21px;
}

.inscrire {
  padding-left: 28px;
}

.nombrelogementstxt {
  padding: 5px 0;
  display: inline-flex;
}

/* le formulaire de recherche */

.logosearch {
  display: inline-flex;
  align-items: center;
}

button {
  background-color: #0065fc;
  border: none;
  padding: 15px 15px;
  border-radius: 0px 10px 10px 0px;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  font-size: 1em;
  cursor: pointer;
  margin: 0 -50px;
}

.iconemap {
  font-size: 25px;
  background-color: #f2f2f2;
  border-radius: 1rem 0 0 1rem;
  padding: 10px 10px;
  width: 30px;
  text-align: center;
}

input {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 0 1.5em;
  width: 200px;
  height: 50px;
  font-size: 15px;
}

/* HEBERGEMENTS*/

.row, .hebergements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 15px 15px 5px;
  margin-bottom: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titresection {
  margin: 25px 10px 10px 10px;
}

.hebergements-marseille {
  width: 65%;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 25px;
  margin-right: 25px;
  margin-left: 0px;
}

.lodging-block {
  display: flex;
  width: 30%;
  flex-direction: column;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 30px;
}

.populaires {
  width: 30%;
  border-radius: 15px;
  padding: 5px 10px 10px 10px;
  background-color: #f2f2f2;
}

.titresection {
  margin: 30px 0 0 10px;
}

.popular-lodging-block {
  display: flex;
  width: 90%;
  flex-direction: row;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-right: 30px;
  margin-left: 15px;
  margin-top: 35px;
}

.popular-lodging-block img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 35%;
  height: 150px;
}

.popular-lodging-desc {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 10px;
}

.lodging-block h3,
.lodging-block h4 {
  text-align: left;
  margin: 0;
  margin-top: 5px;
}

.lodging-block img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 150px;
}

.stars {
  margin-top: auto;
  margin-bottom: 10px;
}

.fa-chart-line {
  color: #000000;
  display: flex;
  font-size: 30px;
  padding: 25px;
}

/* PARAMETRES ACTIVITES */

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  text-align: center;
}

.blocActivite-container {
  width: 25%;
  margin-right: 25px;
}

.Activites {
  width: 100%;
  align-items: flex-start;
}

.Activites .row {
  margin-left: 30px;
}

.blocActivites {
  width: 25%;
  margin-right: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.blocActivites2 {
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.titreActivites {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
  width: 100%;
}

.blocActivites img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.blocActivites2 img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.hauteurTitre {
  height: 70px;
}

.imageActivite3,
.imageActivite6 {
  margin-top: 25px;
}

.imageActivite1 img {
  height: 600px;
  border-radius: 15px 15px 0 0;
}

.imageActivite2 img {
  height: 360px;
  border-radius: 15px 15px 0 0;
}

.imageActivite3 img {
  height: 185px;
  border-radius: 15px 15px 0 0;
}

.imageActivite4 img {
  height: 600px;
  border-radius: 15px 15px 0 0;
}

.imageActivite5 img {
  height: 270px;
  border-radius: 15px 15px 0 0;
}

.imageActivite6 img {
  height: 270px;
  border-radius: 15px 15px 0 0;
}

/* FOOTER - Pied de page */

footer {
  background-color: #f2f2f2;
  margin-top: 60px;
}

.blockFooter {
  display: flex;
  max-width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
}

.interieurblockFooter {
  width: 40%;
}

.footerTitre {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
}

.lignesFooter {
  color: black;
  display: block;
  margin: 15px 0;
  font-weight: 500;
}

@media screen and (max-width: 767px) /* SMARTPHONES */ {
  
  .logosearch {
    width: 100px;
  }
  
  .hebergements {
    flex-direction: column-reverse;
    width: 98%;
    left: 25px;
    right: 25px;
  }

  .populaires {
    width: 98%;
    margin: 25px;
    margin-bottom: 25px;
  } 

  .hebergements-marseille {
    width: 98%;
    background-color: #ffffff;
    left: 25px;
    right: 25;
  }

  .hebergements-marseille .row {
    flex-direction: column;
    margin: 5px;
  }

  .lodging-block {
    width: 100%;
    margin: 25px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    margin-bottom: 5px;
  }

  .blocActivites, .blocActivites2, .blocActivite-container {
    width: 98%;
    margin-bottom: 25px;
  }

  .Activites .row {
    flex-direction: column;
    width: 100%;
  }

  .blocActivites {
    width: 100%;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    margin-bottom: 30px;
  }

  .imageActivite3,
  .imageActivite6 {
    margin-top: 30px;
}

  .imageActivite1 img {
    height: 150px;
    border-radius: 5px 5px 0 0;
    margin: 0 5px 0 0;
  }

  .imageActivite2 img {
    height: 150px;
    border-radius: 5px 5px 0 0;
    margin: 0 5px 0 0;
    }

  .imageActivite3 img {
    height: 150px;
    border-radius: 5px 5px 0 0;
    margin: 0 5px 0 0;
      }

  .imageActivite3 img {
    height: 150px;
    border-radius: 5px 5px 0 0;
    margin: 0 5px 0 0;
          }     
 
  .imageActivite4 img {
    height: 150px;
    border-radius: 5px 5px 0 0;
    margin: 0 5px 0 0;
    } 
    
  .imageActivite5 img {
    height: 150px;
    border-radius: 5px 5px 0 0;
    margin: 0 5px 0 0;
    }   
  
  .imageActivite6 img {
    height: 150px;
    border-radius: 5px 5px 0 0;
    margin: 0 5px 0 0;
    }

  .blockFooter {
    flex-direction: column;
    text-shadow: 3px 3px 3px 3px gray;
    width: 100%;
    padding-left: 30px;
    padding-right: 0px;
    }

}
