/* PARAMETRES GENERAUX DE POLICE */

@font-face{
  font-family: "Raleway(1).zip";
  src: url("static/Raleway-Italic-VariableFont_wght.ttf");
   src: url(Relavay-VariableFont_wght.ttf);
}

body {
 font-family: 'Raleway', sans-serif;
 margin: 0;
 box-sizing: border-box;
}

@font-face {
font-family: 'Raleway-thin';
src: url('fonts/Raleway-Regular.ttf');
font-weight: normal;
font-style: normal;
}

/* Rendre les images responsive */
img {
width: 100%;
height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0; /* Retire les marges des titres */
} 

.popular-container,
.footer {
background: #f2f2f2;
}

a {
font-family: "Raleway";
font-weight: bold;
}

p {
font-family: "Raleway";
}

/* PARAMETRES DE LA PAGE */
.container
{
  width: 96%;
  margin: auto;
}


/* PARAMETRES DU HEADER */

.topheader { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* le conteneur */

.row {
  display: flex;
  flex-direction: row;
}

.hebergements-marseille {
  width: 65%;
  background-color: #F2F2F2;
  margin-right: 25px;
}

.lodging-block {
    display: flex; 
    flex-direction: column; 
    padding: 5px; 
    background-color: #FFFFFF; 
    border-radius: 10px; 
    margin-right: 10px; 
    margin-left: 10px;
}
.lodging-block h3, .lodging-block h4 {
    text-align: left; 
    margin: 0px; 
    margin-top: 5px;
}
.lodging-block img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 280px;
    height: 150px;
}
.stars {
    margin-top: 5px
    }

.populaires {
  width: 33%;
  background-color: #f2f2f2;
}

/* Mise en forme des filtres*/

.titrefiltres {
font-size: 1.3em;
margin: 0 20px 0 0;
}

.titre {
font-family: "Raleway", "Sans serif";
font-weight: bold;
padding-right: 1.5em;
padding-left: 0.5em;
cursor: pointer;
}

.barreFiltre:hover {
background: #0065fc;
color: #fff;
transition: 0.4s ease-in-out;
cursor: pointer;
}

.barreFiltre {
display: flex;
align-items: center;
width: auto;
margin-right: 2em;
border: 2px solid #d9d9d9;
border-radius: 2em;
font-weight: bold;
}

.filtres {
display: flex;
align-items: center;
}

.imagefiltre {
padding: 15px 15px;
border-radius: 50%;
background-color: #d9d9d9;
cursor: pointer;
}

.fas {
color: #0065fc;
}

.fa-map-marker-alt {
color: black;
}

/* la ligne information */

.info {
display: flex;
}

.fa-info {
text-align: center;
color: #0065fc;
border-radius: 100%;
height: 33px;
width: 33px;
border: solid 1px #d9d9d9;
padding: 7px;
box-sizing: border-box;
}

.infotext {
padding-left: 10px;
}

nav {
display: flex;
flex-direction: row;
justify-content: flex-end;
padding-top: 33px;
}
nav .menu {
padding-right: 0px;
}

.subscribe a {
color: var(--main-color);
}
.subscribe a:hover {
border-top: none;
}

.containerheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headernav {
  display: flex;
  margin-right: 3%;
}
.Logohaut {
  cursor: pointer;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  color: #0065fc;
}

header ul li a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 21px;
  color: #0065fc;
}

header ul li {
  margin-left: 28px;
}

a {
  text-decoration: none;
  color: black;
}

.inscrire a {
  color: #0065fc;
  margin-right: 0%;
}

.inscrire a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 21px;
}

.inscrire {
  padding-left: 28px;
}


.boutonfiltre p {
  font-weight: bold;
  font-size: 15px;
  }
  
  .filtres {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  }
  
  .filtres,
  .filtres .content {
  display: flex;
  flex-flow: row wrap;
  }
  
  .filtres .title {
  margin-bottom: 20px;
  padding-top: inherit;
  padding-right: 20px;
  }
  
  .filtres .boutonfiltre {
  display: flex;
  justify-content: space-between;
  border-radius: 200px;
  border: 2px #F2F2F2 solid;
  height: 50px;
  position: relative;
  padding-left: 55px;
  padding-right: 14px;
  margin-right: 20px;
  margin-bottom: 10px;
  transition: transform .2s;
  cursor: pointer;
  }
  
  .filtres .boutonfiltre:hover {
  transform: scale(1.05);
  }
  
  .filtres .boutonfiltre:first-child {
  margin-left: 0;
  }
  
  .filtres .boutonfiltre:last-child {
  margin-right: 0;
  }
  
  .filtres .boutonfiltre i {
  line-height: 50px;
  color: #0065FC;
  position: absolute;
  width: 50px;
  text-align: center;
  background: #DEEBFF;
  left: -2px;
  border-radius: 100%;
  }
  
  .boutonfiltre p {
  margin: auto;
  }
  
  .nombrelogementstxt {
  padding: 5px 0;
  display: inline-flex;
  }

/* le texte d'accroche */

.subtext {
  margin-bottom: -35px;
}

/* le formulaire de recherche */

.logosearch {
  display: inline-flex;
  margin-top: 15px;
  align-items: center;
}

button {
  background-color: #0065fc;
  border: none;
  padding: 15px 15px;
  border-radius: 0px 10px 10px 0px;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  font-size: 1em;
  cursor: pointer;
  margin: 0 -50px;
}

.iconemap {
  font-size: 25px;
  background-color: #f2f2f2;
  border-radius: 1rem 0 0 1rem;
  padding: 10px 10px;
  width: 30px;
  text-align: center;
}

input {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 0 1.5em;
  width: 60%;
  height: 50px;
  font-size: 15px;
}


/* Mise en forme des filtres*/



/* PARAMETRES HEBERGEMENTS A MARSEILLE*/

/* PARAMETRES ACTIVITES A MARSEILLE */




 /* FOOTER*/

 footer {
  background-color: #f2f2f2;
}

.blockFooter {
  display: flex;
  max-width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.interieurblockFooter {
  width: 40%;
}

.footerTitre {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
}

.lignesFooter {
  color: black;
  display: block;
  margin: 15px 0;
  font-weight: 500;
}

      /*RESPONSIVE MOBILES*/

@media (min-width: 300px) and (max-width: 767px) /* SMARTPHONES */ {
  /* PARAMETRES GENERAUX */

  h2 {
    /*font-family: 'Raleway-Semibold';*/
    font-size: 20px;
    font-weight: bold;
  }

  H3 {
    font-size: 16px;
  }

  /* HEADER */

  header {
    margin: 0;
    width: 100%;
    padding-left: 5px;
  }

  .containerheader {
    display: grid;
    padding-top: 5px;
  }

  .headernav {
    margin-right: 0;
  }

  /* HEADER MENU */

  .inscrire {
    position: ABSOLUTE;
    top: 29px;
    right: 30px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2px;
  }

  nav ul {
    border-bottom: 2px solid #f2f2f2;
  }

  header ul li {
    margin-left: 0;
    padding: 10px 46px 5px 11px;
  }

  header ul li a:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
    padding-bottom: 5px;
  }

  /* PARAMETRES DU DISPLAY BOUTON LOUPE */

  .loupelogo i {
    display: inline;
    color: white;
    background-color: #0065fc;
    padding: 18px;
    border-radius: 18px;
    position: relative;
    right: 52px;
  }

  .boutonderecherche {
    display: none;
  }

  /* FILTRES */

  .filtres {
    display: grid;
  }

  .titrefiltres {
    margin-bottom: 10px;
  }

  .barreFiltre {
    width: 50%;
    margin-bottom: 10px;
  }

  .fam {
    position: absolute;
    margin: 34px 0 0 55%;
    width: 35%;
  }

  /* HEBERGEMENTS ET POPULAIRES */

  .hebergementetpop {
    display: flex;
    flex-direction: column;
  }

  /* PARAMETRES HEBERGEMENTS */

  #Hebergements {
    width: 100%;
    background-color: white;
    order: 2;
    width: 100%;
    margin: 0%;
    padding: 0;
  }

  .hebergementmarseille {
    display: flex;
    flex-direction: column;
  }

  .hotel {
    width: 95%;
    height: 210px;
    font-size: 14px;
  }

  .hotelpop {
    width: 95%;
    padding: 5px;
    margin: 8px;
    font-size: 14px;
  }

  /* PARAMETRES HEBERGEMENTS POPULAIRES */

  #pluspopulaires {
    width: 100%;
    margin: 0;
    padding: 0;
    order: 1;
    display: grid;
  }


  
  /* PARAMETRES ACTIVITES */

  #Activite {
    width: 80%;
  }
  
  .containerActivites {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 496px;
    margin-top: 30px;
    margin-bottom: 100px;
    box-sizing: border-box;
  }
  
  .blocActivite {
    width: 23%;
  }
  
  .Activite {
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
  }
  
  .Activite:hover {
    /* L'image est zoomé au survol */
  
    -webkit-transform: scale(1.05); /* Safari et Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    -ms-transform: scale(1.05); /* Internet Explorer 9 */
    -o-transform: scale(1.05); /* Opera */
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .titresection {
    color: black;
    font-size: 1.3em;
    padding-left: 8px;
  }
  
  .Activite img {
    width: 100%;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
  }
  
  .activite1et4img {
    height: 440px;
  }
  
  .activite2img {
    height: 200px;
  }
  
  .activite3img {
    height: 110px;
  }
  
  .activite5img {
    height: 140px;
  }
  
  .activite6img {
    height: 140px;
  }
  
  .nomactivite {
    padding: 0 0px 5px 20px;
  }
  
  .Activite2 {
    margin: 0px 0px 61px;
  }
  
  .Activite5 {
    margin: 0px 0px 92px;
  }

  .nomactivite {
    padding: 8px 0px 5px 20px;
    border-radius: 0 0 1.25rem 1.25rem;
    border-color: transparent;
    box-shadow: 0 5px 16px #0000002e;
    margin-top: -12px;
  }

  /* FOOTER*/

  .blockFooter {
    display: grid;
  }

  .interieurblockFooter {
    width: auto;
  }
}

/* RESPONSIVE TABLETTE */

@media (min-width: 768px) and (max-width: 1024px) /* TABLETTE */ {
  /* TEXTE DU HEADER */
  .subtext {
    text-align: center;
    margin-bottom: 15px;
  }

  /* FORMULAIRE DE RECHERCHE */

  .logosearch {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    margin-top: -15px;
  }

  /* FILTRES */
  .filtres {
    align-items: center;
    width: 100%;
  }

  .titre {
    font-size: 12px;
  }

  .barreFiltre {
    width: 18%;
  }

  .info {
    align-items: CENTER;
    position: relative;
  }

  /* HEBERGEMENTS ET POPULAIRES */

  .hebergementetpop {
    margin: 25px 0 50px;
    display: FLEX;
    flex-direction: column;
  }

  .titresection {
    text-align: center;
    padding-bottom: 5px;
  }

  /* PARAMETRES HEBERGEMENTS */

  #Hebergements {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /*centré dans l'élément parent*/
    margin-bottom: 20px;
    border-radius: 0;
  }

  /* PARAMETRES HEBERGEMENTS POPULAIRES */

  #pluspopulaires {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
  }

  footer {
    border-radius: 0;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) /* GRAND ECRAN */ {
  #pluspopulaires {
    display: grid;
  }
}