/* HEADER*/
*{
  font-family:'Raleway', sans-serif;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
 }
 body{
   margin:auto;
 }
 .container{
   width: 1346px;
   margin: auto;
 }
header.header{
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 0px;
}
.logo{
 width: 100px;
 height: 37px;
 margin-right: auto;
 margin-top: 16px;
 object-fit: cover;
}

a.log-in{
 display: flex;
 padding: 30px 20px 30px 20px;
 color: #0065FC;
 font-weight:bold;
 font-size: 14px;
 border-top: 3px solid white;
}
nav.nav-bar{
  display: flex;
  align-items: center;
}
a.hebergements{
  padding: 30px 20px 30px 20px;
  color: #0065FC;
  font-size: 14px;
  text-align: center;
  border-top: 3px solid #0065FC;
}
a.hebergements:hover{
  font-weight: 600;
  background-color: #F3F3F3;
  border-top: 3px solid #F3F3F3;
}
a.activités{
  padding: 30px 20px 30px 20px;
  color: black;
  font-size: 14px;
  border-top: 3px solid white;
}
a.activités:hover{
  color: #0065FC;
  font-weight: 600;
  background-color: #F3F3F3;
  border-top: 3px solid #F3F3F3;
}
a.log-in:hover{
  background-color: #F3F3F3;
  border-top: 3px solid #F3F3F3;
}

/* MAIN */

h1{
 margin-top: 0px;
 width: 65%;
 margin-left: 5%;
 font-size: 20px;
 margin-bottom: 10px;
} 
p.description{
 width: 90%;
 margin: auto;
 font-size: 14px;
 margin-top: 12px;
 margin-bottom: 20px;
}
.search{
  width: 90%;
  margin:auto;
  display: flex;
}
span.place-icon{
  padding: 12px 16px;
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
}
input{
 position: relative;
 width: 210px;
 height: 45px;
 padding: 0 25px;
 border: 2px solid #F2F2F2;
 border-right: 0;
}
.search-button{
  background-color: #0065FC;
  color: white;
  padding-left: 9px;
  padding-right: 8px;
  padding-bottom: 3px;
  font-size: 17px;
  padding-top: 1px;
  height: 45px;
  border-radius: 0 10px 10px 0;
  border-color:#0065FC;
  width: fit-content;
}
.search-button:hover{
  font-weight: bold;
}
a{
  text-decoration: none;
  color: white;
}
.rechercher{
  margin: 0;

padding-top: 11px;}
.fa-spin-hover:hover {
  -webkit-animation: fa-spin 0.5s linear;
  -moz-animation: fa-spin 0.5s linear;
  -o-animation: fa-spin 0.5s linear;
  animation: fa-spin 0.5s linear;
}
::placeholder{
 font-weight: bold;
 font-size: 16px;
 color: black;
 padding-left: 0px;
 text-align: left;
}
div.filtres{
  display: flex;
  width: 80%;
  margin-left: 5%;
  margin-bottom: 10px;
  margin-top: 25px;
  flex-wrap: wrap;
}
h2.filtres{
  margin-right: 25px;
  margin-top: 7px;
  font-size: 20px;
  display: flex;
}

/* SECTION AVEC LES FILTRES*/

.filtres{
  display: flex;
  margin-bottom: 15px;
}
div.icon-container1{
  position: absolute;
  padding: 12px 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #DBEAFF;
  margin: -2px;
}
div.icon-container2{
  position: absolute;
  padding: 12px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #DBEAFF;
  margin: -2px;
}
div.icon-container3{
  position: absolute;
  padding: 12px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #DBEAFF;
  margin: -2px;
}
div.icon-container4{
  position: absolute;
  padding: 12px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #DBEAFF;
  margin: -2px;
}
i.fas.fa-money-bill-wave::before{
  color: #0065FC;
}
i.fas.fa-child::before{
  color: #0065FC;
}
i.fas.fa-heart::before{
  color: #0065FC;
}
i.fas.fa-dog::before{
  color: #0065FC;
}
h3.filtre-name{
  display: flex;
  font-size: 15px;
  padding-top: 10px;
  padding-right: 15px;
  margin-top: 0;
  height: fit-content;
  padding-left: 35px;
  padding-bottom: 12px;
  margin-left: 15px;
  color: black;
}
.filtre-name:hover{
  color: white;
}
.economic{
  display: flex;
  border-radius: 25px;
  background-color: white;
  border: 2px solid #E4E4E4;
  height: 40px;
  font-weight: bold;
  margin-right: 25px;
  margin-bottom: 10px;
}
.economic:hover{
  background-color: #0065FC;
}
.family{
  display: flex;
  border-radius: 25px;
  background-color: white;
  border: 2px solid #E4E4E4;
  height: 40px;
  font-weight: bold;
  margin-right: 25px;
  margin-bottom: 10px;
}
.family:hover{
  background-color: #0065FC;
}
.romantic{
  display: flex;
  border-radius: 25px;
  background-color: white;
  border: 2px solid #E4E4E4;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 25px;
  margin-bottom: 10px;
}
.romantic:hover{
  background-color: #0065FC;
}
.animals{
  display: flex;
  border-radius: 25px;
  background-color: white;
  border: 2px solid #E4E4E4;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
.animals:hover{
  background-color: #0065FC;
}
.information{
  display: flex;
  margin-top: 40px;
  width: 90%;
  margin:auto;
}
i.fas.fa-info{
  color: #0065FC;
  padding: 4px 7px;
  font-size: 11px;
  border-radius: 50px;
  margin-right: 10px;
  border: 2px solid #F2F2F2;
}
.info{
  font-weight: 400;
  margin-top: 4px;
  color: black;
  font-size: 14px;
  margin-bottom: 0;
}

/*SECTION HEBERGEMENTS A MARSEILLE */

#first-part{
  display: flex;
  height: 550px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
}
div.grid-first-part{
  width: 100%;
}
h2.title{
  margin-bottom: 0;
  margin-top: 0;
  font-size: 20px;
}
.title-first-part{
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  height: fit-content;
  background-color: #F2F2F2;
  padding-top: 15px;
}
.gallery-hebergements{
  transition: all .2s ease-in-out;
  display: block;
  height: 125px;
}
.gallery-hebergements:hover{
  transform: scale(1.1);
}
div.grid-first-part{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
div.hebergements-marseille{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 0fr);
  column-gap: 30px;
  margin-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
  border-radius: 25px;
  background-color: #F2F2F2;
  grid-row-gap: 30px;
  grid-column: 1/4;
}
h3.caption{
  font-size: 14px;
  padding-left: 15px;
  margin-bottom: 4px;
  padding-top: 5px;
  color: black;
  font-weight: bold;
  text-transform: none;
  margin-top: 0;
}
p.caption{
  padding-left: 15px;
  margin-bottom: 7px;
  font-size: 13px;
  color: black;
  margin-top: 3px;
}
.stars{
  color: #0065FC;
  padding-left: 15px;
  padding-top: 5px;
  font-size: 14px;
}
#grey1, #grey2, #grey3, #grey4, #grey5, #grey6, #grey7{
  color: #C6C7C8;
}
.gallery-hebergements:nth-child(-n+3){
  margin-bottom: 50px;
}
.grid-image{
  display: grid;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 75%;
  border: 5px solid white;
  border-bottom: 0;
  box-shadow: 0 1px 15px 0 #ACACAC;
}
.grid-hebergements{
  display: block;
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding-bottom: 10px;
  bottom: 0;
  width: 100%;
  margin-right: 0px;
  margin-top: 0px;
  box-shadow: 0 2px 10px 0 #ACAC
}
.afficher-plus{
  margin-top: 10px;
  font-weight: bold;
  width: fit-content;
  color: black;
  margin-top: 30px;
}
.afficher-plus:hover{
  color: #0065FC;
}

/***************ASIDE*****************/

aside{
  display: flex;
  background-color: #F2F2F2;
  border-radius: 25px;
  grid-column-start: 4;
  grid-column-end: 6;
}
.populaire{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 0.44fr);
  padding-left: 40px;
  margin-top: 20px;
  width: 90%;
}
.gallery-populaire{
  display: flex;
  height: 125px;
}
div.gallery-populaire:first-child{
  width: fit-content;
  margin-top: 75px;
}
div.header2{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding-top: 15px;
}
h2.title-populaire{
  display: flex;
  font-size: 20px;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}
i.fas.fa-chart-line{
  display: flex;
  font-size: 19px;
  right: 0;
  top: 0%;
}
.anchor{
  width: 40%;
}
img.grid-image2{
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;
  border: 5px solid white;
  border-right: 0;
  border-radius: 20px 0 0 20px;
  box-shadow: 4px 1px 13px -3px #656565;
}
div.grid-populaire{
  background-color:white;
  width: 63%;
  display: flex;
  height: 100%;
  top: 0%;
  position: relative;
  bottom: 100%;
  border-radius: 0 20px 20px 0;
  box-shadow: 2px 2px 6px -2px #656565;
}
h3.caption2{
  display: block;
  color: black;
  font-size: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-top: 0;
  width: fit-content;
  height: fit-content;
}
p.caption2{
  margin: 0;
  display: block;
  padding-bottom: 10px;
  font-size: 14px;
  color: black;
  padding-left: 15px;
  height: fit-content;
}
.stars2{
  display: block;
  bottom: 0;
  font-size: 14px;
  padding-bottom: 10px;
  color: #0065FC;
  padding-left: 15px;
  position: absolute;
}
.gallery-populaire{
  transition: all .2s ease-in-out;
  width: fit-content;
}
.gallery-populaire:hover{
  transform: scale(1.1);
}

/* ACTIVITES A MARSEILLE */

#second-part{
  display: block;
  margin-top: 10px;
  width: 100%;
  height: fit-content;
  margin-bottom: 150px;
}
h2.title3{
  width: fit-content;
  height: fit-content;
  margin-top: 0;
  font-size: 20px;
  padding-top: 30px;
}
h3.caption-activités{
  margin-top: 0;
  font-size: 15px;
  margin-bottom: 0;
  color: black;
  padding: 10px;
}
div.title-second-part{
  display: inline-block;
  width: fit-content;
  height: fit-content;
  margin-left: 5%;
  margin-bottom: 20px;
  margin-top: 0;
}
div.activites-marseille{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 13vw);
  column-gap: 50px;
  row-gap: 30px;
  margin-bottom: 40px;
  width: fit-content;
  margin-right: 5%;
  margin-left: 5%;
}
.gallery-img1{
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  border-radius: 20px 20px 0 0 ;
  object-fit: cover;
}
div.grid-activités1{
  display: block;
  background-color: white;
  margin-top: 0;
  height: 50px;
  border-radius: 15px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 6px 3px 0 #F2F2F2;
}
div.gallery-item1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  transition: all .2s ease-in-out;
}
.gallery-item1:hover{
  transform: scale(1.1);
}
.gallery-img2{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0 ;
  object-fit: cover;
}
div.grid-activités2{
  display: block;
  background-color: white;
  margin-top: 0;
  height: 50px;
  border-radius: 15px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 6px 3px 0 #F2F2F2;
}
.gallery-item2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  transition: all .2s ease-in-out;
}
.gallery-item2:hover{
  transform: scale(1.1);
}
.gallery-img3{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0 ;
  object-fit: cover;
}
div.grid-activités3{
  display: block;
  background-color: white;
  margin-top: 0;
  height: 50px;
  border-radius: 15px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 6px 3px 0 #F2F2F2;
}
.gallery-item3{
  margin-top: 60px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  transition: all .2s ease-in-out;
}
.gallery-item3:hover{
  transform: scale(1.1);
}
div.grid-activités4{
  display: block;
  background-color: white;
  margin-top: 0;
  height: 50px;
  border-radius: 15px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 6px 3px 0 #F2F2F2;
}
.gallery-item4{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  transition: all .2s ease-in-out;
}
.gallery-item4:hover{
  transform: scale(1.1);
}
.gallery-img4{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0 ;
  object-fit: cover;
}
div.grid-activités5{
  display: block;
  background-color: white;
  margin-top: 0;
  height: 50px;
  border-radius: 15px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 6px 3px 0 #F2F2F2;
}
.gallery-item5{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  transition: all .2s ease-in-out;
}
.gallery-img5{
  display: block;
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0 ;
  object-fit: cover;
}
.gallery-item5:hover{
  transform: scale(1.1);
}
div.grid-activités6{
  display: block;
  background-color: white;
  margin-top: 0;
  height: 50px;
  border-radius: 15px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 6px 3px 0 #F2F2F2;
}
.gallery-item6{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  transition: all .2s ease-in-out;
}
.gallery-item6:hover{
  transform: scale(1.1);
}
.gallery-img6{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0 ;
  object-fit: cover;
}
.footer{
  display: flex;
  margin-top: 70px;
  background-color:#F2F2F2;
  padding-top: 30px;
  padding-bottom: 30px;
  bottom: 0;

}
.colonne1, .colonne2, .colonne3{
  display: block;
  height: fit-content;
}
.footer-links{
  color: black;
}
div.colonnes{
  display: flex;
  width: 1205px;
  margin-left: auto;
  margin-right: auto;
}
.colonne1, .colonne2, .colonne3{
  display: block;
  height: fit-content;
  width: 26%;
}
.footer-links{
  color: black;
}
.footer-links:hover{
  color: #0065FC;
}

                /***** Removing search icon *******/

}
@media screen and (max-width: 1370px){
  .container{
    width: unset;
  }
}
@media screen and (max-width: 1350px){
  div.colonnes{
    margin-left: 5%;
  }

@media screen and (min-width: 412px){
  i.fas.fa-search::before{
    visibility: hidden;
    display: none;
    }
}

/*Figcaption resizing*/

@media screen and (max-width: 1251px) {
  #first-part{
      display: block;
    }
  div.grid-first-part{
      display: grid;
      grid-template-rows: 250px auto;
  }
  div.hebergements-marseille{
      order: 1;
      width: 100%;
      grid-column: 1/6;
      grid-row-start: 2;
      grid-row-end: 3;
  }
  h3.caption{
    font-size: 14px;
  }
  h3.caption2{
    font-size: 14px;
  }
  /****Aside***/
  aside{
    height: 217px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
  }
  .populaire{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 5vw);
    width: 100%;
    padding-right: 40px;
    column-gap: 20px;
  }
  .header2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
  }
   /****Activités****/
   
   #second-part{
    margin-top: 255px;
    margin-bottom: 95px;
  }
  div.activites-marseille{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 13vw);
    row-gap: 80px;
  }
  div.gallery-item1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .gallery-item2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .gallery-item3{
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .gallery-item4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .gallery-item5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .gallery-img5{
    height: 100%;
  }
  .gallery-item6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  /****Footer*****/

  .colonne1, .colonne2, .colonne3{
    width: 300px;
  }
}

@media screen and (max-width: 930px){
  div.colonnes{
    display: block;
  }
  .colonne1, .colonne2, .colonne3{
    width: fit-content;
  }
  .colonne2, .colonne3{
    margin-top: 40px;
  }
  div.gallery-populaire:hover{
    transition: none;
    transform: none;
  }
div.gallery-hebergements:hover{
  transition: none;
    transform: none;
}
.gallery-item1:hover,.gallery-item2:hover,.gallery-item3:hover,.gallery-item4:hover,.gallery-item5:hover,.gallery-item6:hover{
    transition: none;
    transform: none;
}

}
@media screen and (max-width: 925px){
  a.log-in{
    padding: 30px 0px 30px 20px;
  }
  a.log-in:hover{
    background-color: white;
    border-top: 3px solid white;
  }
  a.hebergements:hover{
    background-color: white;
    border-top: 3px solid #0065FC;
  }
  a.activités:hover{
    background-color: white;
    border-top: 3px solid white;
  }
  div.grid-first-part{
      display: grid;
      grid-template-rows: 395px auto;
  }
  div.hebergements-marseille{
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 3;
  }
  aside{
    height: 370px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .populaire{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
  }
  div.header2{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #img1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #img2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #img3{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  #second-part{
    margin-top: 415px;
  }
}

@media screen and (max-width: 810px) {
  div.grid-first-part{
    grid-template-rows: 560px auto;
  }
  div.hebergements-marseille{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 0fr);
  }
  .title-first-part{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #image1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #image2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #image3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-bottom: 50px;
  }
  #image4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  #image5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  #image6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  div.afficher-plus{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 20px;
  }
  aside{
    height: 370px;
  }
  .populaire{
    display: block;
  }
  .gallery-populaire{
    width: 100%;
  }
  .header2{
    margin-bottom: 30px;
  }
  #img1, #img2{
    margin-bottom: 20px;
  }
  #img3{
    margin-top: 0;
  }
  aside{
    height: 95%;
  }
  #second-part{
    margin-top: 745px;
  }
}
@media screen and (max-width: 635px) {
  div.activites-marseille{
    display: block;
  }
  .gallery-img1, .gallery-img2, .gallery-img3, .gallery-img4, .gallery-img5, .gallery-img6{
    height: 145px;
  }
  .gallery-img2, .gallery-img3, .gallery-img4, .gallery-img5, .gallery-img6{
    margin-top: 20px;
  }
  section#second-part{
    margin-bottom: 55px;
  }
} 
@media screen and (max-width: 570px) {
  header.header{
    display: block;
    margin: 0;
    width: 100%;
  }
  .logo{
    margin-left: 27px;
  }
  nav.nav-bar{
    width: 100%;
    justify-content: space-around;
    position: relative;
  }
  nav.nav-bar:after{
    content: "";
    position: absolute;
    left: 0px;
    right:0px;
    bottom: 0px;
    height: 4px;
    
    /* liniar gradient for all browsers */
    background-image: -webkit-linear-gradient(0deg, #0065FC 50%,#F2F2F2 50%);
    background-image:-moz-linear-gradient(0deg, #0065FC 50%,#F2F2F2 50%);
    background-image: -o-linear-gradient(0deg, #0065FC 50%,#F2F2F2 50%);
  }
  a.log-in{
    display: block;
    width: fit-content;
    position: absolute;
    padding: 26px 0px 8px 20px;
    top: 0;
    right: 5%;
  }
  a.hebergements{
    display: flex;
    border-top: 3px solid white;
  }
  a.hebergements:hover{
    border-top: 3px solid white;
  }
  h1{
    margin-top: 30px;
  }
  div.grid-first-part{
    grid-template-rows: 545px auto;
  }
  div.hebergements-marseille{
    display: block;
    height: 1400px;
  }
  #first-part{
    height: 675px;
  }
  .gallery-hebergements{
    height: 160px;
  }
  #image1{
    margin-top: 20px;
  }
  #image4, #image5, #image6{
    margin-bottom: 50px;
  }
  .afficher-plus{
    margin-top: 75px;
  }
  aside{
    height: 520px;
  }
  .gallery-populaire{
    height: 125px;
  }
  #second-part{
    margin-top: 1270px;
  }
}
@media screen and (max-width: 520px){
h2.filtres{
  width: 90%;
}
div.filtres{
  width: 95%;
}

}
@media screen and (max-width: 440px){
i.fas.fa-info{
  padding: 4px 7px;
  height: fit-content;
}

}
@media screen and (max-width: 411px){
header.header{
  width: 100%;
}
.logo{
  margin-left: 18px;
}
input{
  margin-top: 0;
  width: 80%;
}
  form.search{
    margin-left: 3%;
  }
  span.place-icon{
    padding: 14px 20px;
    border-radius: 15px 0 0 15px;
  }
  .search-button{
    display: none;
  }
  input{
    position: relative;
    width: 80%;
    height: 50px;
    padding: 0 28px;
    border-radius: 0 15px 15px 0;
    border: 1px solid #F2F2F2;
   }
   form.search{
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
  }
  i.fas.fa-search{
    position: absolute;
    background-color: #0065FC;
    border-radius: 15px;
    right: 5%;
    padding: 17px 19px;
  }
  .fas.fa-search:before{
    color: white;
  }
  div.filtres{
    width: 90%;
  }

}
@media screen and (max-width: 375px){
section#first-part{
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}
div.hebergements-marseille{
  background-color: white;
  padding: 0;
  margin-left: 5%;
  width: 90%;
}
div.title-first-part{
  background-color: white;
}
aside{
  width: 100%;
  border-radius: 0;
}
.populaire{
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
}
section#second-part{
  margin-bottom: 22px;
  margin-top: 1235px;
}
div.colonnes{
  width: 90%;
}

}
@media screen and (max-width: 310px){
input{
  padding: 0 3px;
}
}