/* PARAMETRES GENERAUX DE POLICE */

@font-face{
    font-family: "Raleway(1).zip";
    src: url("static/Raleway-Italic-VariableFont_wght.ttf");
     src: url(Relavay-VariableFont_wght.ttf);
}

body {
   font-family: 'Raleway', sans-serif;
   margin: 0;
   box-sizing: border-box;
}

@font-face {
	font-family: 'Raleway-thin';
	src: url('fonts/Raleway-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

/* Rendre les images responsive */
img {
	width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
margin: 0; /* Retire les marges des titres */
}

.popular-container,
.footer {
	background: #f2f2f2;
}

a {
  font-family: "Raleway";
  font-weight: bold;
}

p {
  font-family: "Raleway";
}

/* PARAMETRES DE LA PAGE */

#blocpage {
    margin: auto;
    width: 98%;
  }

/* PARAMETRES DU HEADER */

/* le conteneur */

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4vw;
  margin-top: 1rem;
}

.logo {
  display: block;
  width: auto;
  margin-left: 4vw;
  margin-top: 1rem;
  margin-right: auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 33px;
}
nav .menu {
  padding-right: 0px;
}

.subscribe a {
  color: var(--main-color);
}
.subscribe a:hover {
  border-top: none;
}

.containerheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .headernav {
    display: flex;
    margin-right: 3%;
  }
  .Logohaut {
    cursor: pointer;
  }
  
  header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    color: #0065fc;
  }
  
  header ul li a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 21px;
    color: #0065fc;
  }
  
  header ul li {
    margin-left: 28px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .inscrire a {
    color: #0065fc;
    margin-right: 0%;
  }
  
  .inscrire a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 21px;
  }
  
  .inscrire {
    padding-left: 28px;
  }

/* le texte d'accroche */

.subtext {
    margin-bottom: -35px;
  }
  
  /* le formulaire de recherche */
  
  .logosearch {
    display: inline-flex;
    margin-top: 15px;
    align-items: center;
  }

  button {
    background-color: #0065fc;
    border: none;
    padding: 15px 15px;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
    font-size: 1em;
    cursor: pointer;
    margin: 0 -50px;
  }
  
  .iconemap {
    font-size: 25px;
    background-color: #f2f2f2;
    border-radius: 1rem 0 0 1rem;
    padding: 10px 10px;
    width: 30px;
    text-align: center;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
    border-right: none;
    border-left: none;
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
    padding: 0 1.5em;
    width: 60%;
    height: 50px;
    font-size: 15px;
  }
  
  .boutonderecherche {
    border-radius: 0px 18px 18px 0;
    padding: 15px;
    background-color: #0065fc;
    color: white;
    position: relative;
    right: 43px;
  }
  
  .loupelogo i {
    display: none;
  }
  
/* Mise en forme des filtres*/


.boutonfiltre p {
  font-weight: bold;
  font-size: 15px;
}

.filtres {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.filtres,
.filtres .content {
  display: flex;
  flex-flow: row wrap;
}

.filtres .title {
  margin-bottom: 20px;
  padding-top: inherit;
  padding-right: 20px;
}

.filtres .boutonfiltre {
  display: flex;
  justify-content: space-between;
  border-radius: 200px;
  border: 2px #F2F2F2 solid;
  height: 50px;
  position: relative;
  padding-left: 55px;
  padding-right: 14px;
  margin-right: 20px;
  margin-bottom: 10px;
  transition: transform .2s;
  cursor: pointer;
}

.filtres .boutonfiltre:hover {
  transform: scale(1.05);
}

.filtres .boutonfiltre:first-child {
  margin-left: 0;
}

.filtres .boutonfiltre:last-child {
  margin-right: 0;
}

.filtres .boutonfiltre i {
  line-height: 50px;
  color: #0065FC;
  position: absolute;
  width: 50px;
  text-align: center;
  background: #DEEBFF;
  left: -2px;
  border-radius: 100%;
}

.boutonfiltre p {
  margin: auto;
}

.nombrelogementstxt {
  padding: 5px 0;
  display: inline-flex;
}

.nombrelogementstxt i {
  border: 2px solid #F2F2F2;
  width: 29px;
  line-height: 25px;
  font-size: 14px;
  color: #0065FC;
  text-align: center;
  border-radius: 100%;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 29px;
}

p.NbLogements {
  margin: auto;
  padding-left: 3px;
}



/* footer - Pied de page */

footer {
  background-color: #F2F2F2;
  bottom: 0;
  border-top: 0;
  position: inherit;
  justify-content: space-around;
  display: flex;
}

.bloc-footer {
  padding: 20px;
  width: 100%;
  padding-left: 10%;
}

}
